<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Axa Motor Policy</h5>
      <br>
      <input 
        type="text" 
        placeholder="Enter Price"
        [formControl]="price"
        (input)="onPriceChange()"> EGP
      <br> <br>
      <a  class="btn btn-primary" (click)="getPaymobPaymentToken()">Buy With New Card</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>