<div class="card text-center">
    <div class="card-header">
        transaction response callback info 
    </div>
    <div class="card-body">
        <h3>transaction id: {{params['id']}}</h3>
        <h3>pending: {{params['pending']}}</h3>
        <h3>success: {{params['success']}}</h3>
        <h3>order_id: {{params['order']}}</h3>
        <h3>integration id / payment method : {{params['integration_id']}}</h3>
        <h3>amount_cents: {{params['amount_cents']}}</h3>
        <br>
        <h3>hmac: {{params['hmac']}}</h3>


    </div>
    <div class="card-footer text-muted">
    </div>
  </div>