<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <div class="row center">

      <div class="col">
        <button 
          type="button"
          class="btn btn-primary btn-lg btn-block center"
          (click)="addCard()">Add Card</button>
      </div>

      <div class="col">
        <button 
          type="button" 
          class="btn btn-primary btn-lg btn-block center"
          (click)="buyPolicy()">buy Policy</button>
      </div>
    </div>
</div>