<app-motor-policy></app-motor-policy>

<app-card-tokens
    *ngIf="paymentToken==null"
>
</app-card-tokens>

<app-card-form
    *ngIf="paymentToken!=null"
    [paymentToken]="paymentToken.token"
>
</app-card-form>
