@font-face {
    font-family: Avenir;
    src: url("/static/fonts/AvenirLTStd-Roman.ttf");
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #80959E;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 400;
}

input::-moz-placeholder,
textarea::-webkit-input-placeholder {
  /* Firefox 19+ */
  color: #80959E;
  font-size: 16px; 
  font-family: Avenir;
  font-weight: 400;
}

input:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
  /* IE 10+ */
  color: #80959E;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 400;
}
body{
    font-family: Avenir;
    background-color: transparent;
}
p{
    padding: 0;
    margin: 0;
}
.iframeOut{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.iframBody{
    width: 35%;
    background: #fff;
    filter: drop-shadow(0px 0px 71px rgba(10, 51, 69, 0.07));
    border-radius: 10px;
    padding: 20px;
    
}
@media  (max-width: 768px){
    .iframBody{
        width: 70%;
        height: auto;
        margin-top: 50px;
    }
}
header{
    border-bottom: 1px solid #e1ecf1;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
header .logo{
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.09));
    position: absolute;
    top: -47px;
    right: 50%;
    transform: translateX(50%);
}
.logo img{
    max-width: 94px;
    max-height: 94px;
}
header span{
    font-size: 18px;
    line-height: 22px;
    color: #0a384b;
    margin-top: 10px;
    display: block;
}
header h4{
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin: 0;
    margin-top: 20px;
}
.iframeType{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.iframeType div{
    display: flex;
}
.iframeType p{
    font-size: 18px;
    color: #0a384b;
}
.iframeType div img{
    margin-right: 10px;
}
form{
    padding: 30px 0;
}
.inputDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inputDiv.saveCard{
    justify-content: flex-start;
}
.inputDiv.saveCard input{
    height: auto;
    width: auto;
    
}
.inputDiv label{
    font-size: 17px;
    margin-bottom: 10px;
}
.inputDiv label span{
    font-size: 10px;
}
.inputDiv input{
    height: 55px;
    width: 100%;
    border-radius: 10px;
    background: #efefef99;
    outline: 0;
    border: 1px solid #f9fafa;
    padding-left: 10px;
    font-weight: 900;
    font-size: 19px;
    line-height: 20.4px;
    text-align: left;
    color: #0a384b;

}
.inputDiv textarea{
    width: 100%;
    border-radius: 10px;
    background: #efefef99;
    outline: 0;
    border: 1px solid #f9fafa;
    padding-left: 10px;
    font-weight: 900;
    font-size: 19px;
    text-align: left;
    color: #0a384b;
    padding-top: 10px;
    resize: none;

}
.inputDiv input:focus,.inputDiv textarea:focus{
    border: 1px solid #28AAE1;
    transition: .3s ease;
    background: #fff;
    box-shadow: 0px -1px 71px rgba(74, 74, 74, 0.07);

}
.inputDiv p{
    font-size: 21px;
    color: #0A384B;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}
.inputDiv.cardExpire input:nth-child(2){
    margin-left: 20px;
}
.inputDiv.address input{
    width: 24%;
}
@media  (max-width: 768px){
    .inputDiv{
        /* flex-wrap: wrap; */
    }
    .inputDiv.address input{
        width: 48%;
        margin-bottom:10px;
    }
}
.iframeBtn{
    width: 152px;
    height: 49px;
    background-color: #31D097;
    color: #fff;
    font-family: Avenir;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    display: block;

}
footer{
    font-family: Avenir;
    font-weight: 800;
    font-size: 16px;
    color: #80959E;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    margin-left: 20px;
    height: 25px;
    width: 100px;
}

.vodafoneHeader{
    padding-top: 0;
}
.vodafoneLogo{
    text-align: left;
    display: flex;
    align-items: center;
}
.vodafoneLogo p{
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    color: #0a384b;
}
.vodafoneDiv{
    flex-direction: column;
}
.vodafoneNote{
    max-width: 70%;
}

.successDiv{
    text-align: center;
    margin: 150px 0;
}
.successIcon img{
    margin-bottom: 30px;
}
.successIcon p{
    font-weight: 900;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #0a384b;
    margin-bottom: 20px;
}
.successDetails{
    padding:  0 50px;
}
.successDetails p,.thank p{
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #0a384b;
}



/* checkBobxStyle */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #0A384B;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: #28AAE1;
    position: absolute;
    top: 6px;
    left: 6px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

