<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div>
            <h1 class="col-xs-8 text-center">Save Card</h1>
        </div>
    </div>
</div>


<div
    *ngIf="paymentToken!=null"
    class="center"
>
    <app-card-form
        [paymentToken]="paymentToken"
    >
    </app-card-form>
</div>