<div
    class="center"
    *ngIf="cardTokens.length!=0">

    <h3>Choose Saved Card</h3>
    <ul class="list-group">
        
        <li 
            class="list-group-item tokenMaskedPan"
            *ngFor="let token of cardTokens;"
            (click)="payWithSavedCard(token)"
        >
        {{token.maskedPan}}
        </li>
    
    </ul>
</div>
 